<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %> | <%= t.appTitle %></title>
  <link rel="stylesheet" href="<%= url.asset('css/styles.css') %>" />
  <link rel="stylesheet" href="<%= url.asset('css/print.css') %>" media="print" />
</head>
<body data-locale="<%= locale %>">
