<%- include('../partials/head') %>
<main class="shell">
  <%- include('../partials/header') %>
  <article class="panel">
    <div class="panel-header">
      <h2><%= t.adminConsole %></h2>
    </div>
    <p class="lead"><%= t.adminStaticNotice %></p>
    <p class="source-note"><%= t.runtimeOnly %></p>
  </article>
</main>
<%- include('../partials/footer') %>
